
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #3f3f46;
  font-size: 18px;
  background: #334155;
  overflow: hidden;
}

.expense-app{
  width: 400px;
  transition: .5s ease;
  padding: 1em;
  background: #e2e8f0;
  border-radius: .5em;
}

@media(max-width:576px){
  .expense-app{
    width: auto;
  }

  body{
    font-size: 16px;
  }
}

.bold{
  font-weight: 700;
}

.red{
  color: #e11d48;
}

.green{
  color: #059669;
}

input , select{
  padding: .8em 1em;
  border-radius: .3em;
  border: 1px solid #a3a3a3;
  outline: none;
  transition: .2s ease;
  margin: 1em 0;
}

input:focus , select:focus{
  outline: 2px solid #bae6fd;
}